/* styles.css */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#moodyImage {
    display: block;
    height: auto;
    width: auto;
    max-height: 80vh;
    max-width: 80vw;
}

.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.slidement {
    width: 50%;
    position: relative;
}

.slidement p {
    left: 20%;
    position: inherit;
}

.container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px black;
}

.indicador {
    width: 100%;
    position: relative;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    left: 10%;
    position: inherit;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}